.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
themes/Nuclear-color-theme-light.json
minimize.js
pnpm-lock.yaml
.gitattributes

img/react_example.png
img/react_example_2.png
LICENSE